* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;

}

:root {
    --primary-color: #3ba9a7;
    --secondary-color: #0A2239;
    --accent1-color: rgb(232, 199, 11);
    --accent2-color: #0A2239;
    --heading-font: "Anton SC", sans-serif;
    --body-text-font: "Afacad Flux", serif;
    --header-text-color: #CF995F;


}

body {
    width: auto;
    font-family: var(--body-text-font); 
    background-color: var(--primary-color);  
}

.header-container {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 400px 4fr 1fr;
    background-color: #0a2239;
    margin-bottom: -10px;
   
}

.header-container img {
    display: block;
    width: 200px;
    height: auto;
    margin: 20px;
    margin-left: 50px;
    
} 

.navigation {
    display: flex;
    justify-content: center;
    margin-top: 7%;
    
}

.navigation a {
    display: block;
    padding: 10px;
    font-size: 25px;
    width: 25%;
    margin: 4px;
    color: whitesmoke;
    font-weight: bold;
    text-align: center;
    background-color: #32908f;
       
}

.hero img { 
    position: relative;
    display: block;
    width: 100%;
    margin-top: 5px;
    border-bottom: 10px solid #0a2239c4;
}

.hero h1 {  
    font-family: var(--heading-font);
    color: whitesmoke;
    font-size: 850%;
    text-shadow: 6px 6px 2px #061524d7;
    letter-spacing: 4px;
    position: absolute;
    top: 36%;
    text-align: center;
    width: 100%; 
    z-index: 1;
 
}

.hero h2 {
    font-family: var(--body-text-font);
    color: rgb(232, 199, 11);
    font-size: 450%;
    text-shadow: 2px 4px 4px #061524d7;
    letter-spacing: 4px;
    position: absolute;
    top: 55%;
    text-align: center;
    left: 15%;
    width: 70%; 
    background-color: #0a2239c8;
 
}

h2 {
    font-family: var(--heading-font);
    color: var(--accent2-color);
    font-size: 60px;
    margin-top: 35px;
}

.rectangle {
    height: 150px;
    background-color: #0a2239b5;
    position: absolute;
    right: 20%;
    left: 20%;
    top: 85%;
    text-align: center;
    width: 60%; 
    z-index: 1;
    
}

.rectangle p {
    font-size: 24px;
    color: whitesmoke;
    width: 70%;
    position: absolute;
    text-align: left;
    right: 20%;
    left: 5%;
    top: 25%;
    z-index: 3;
    font-style: italic;
}

.rectangle article img {
    width: 185px;
    height: auto;
    position: absolute;
    top: 10%;
    right: 5%;
    float: right;
    z-index: 2;
    
}

section {
    margin-bottom: 35px;
}

.history-header {
    text-align: center;
    background-color: #7cc8c4;
    margin-bottom: 50px;
}

.group {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    
}

.group p {
    margin-left: 10%;
    font-size: 20px;
    color: var(--accent2-color);
}

.group p {
    color: var(--accent2-color);
    margin-right: 10%;
    font-size: 20px;
}

.group img {
    width: 75%;
    height: auto;
    border: 6px solid var(--accent2-color);
    height: auto;
    align-content: center;
    
}

.adventure-header {
    text-align: center;
    background-color: #7cc8c4;
    margin-top: 50px;
    margin-bottom: 50px;

}


.adventure-images {
    display: grid;
    grid-template-columns: repeat(5, auto);
    gap: 25px;
    justify-content: center; 
    text-align: center;
    
}

figcaption {
    margin-top: 5px;
    font-size: 20px;
    color: var(--accent2-color);
    font-weight: bold;
}

figure img {
    width: 210px;
    height: auto;
    box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.533);
    margin-bottom: 5px;
}

footer {
    display: grid;
    grid-template-columns: 5fr 1fr;
    background-color: #0A2239;
    text-align: right;
    align-items: center;
     
}

footer p {
    color: white;
}

.sociallinks img {
    width: 40px;
    height: auto;
    margin: 5px;
        
}
